/* Az alap navbar stílus, átlátszó háttérrel */
.navbar {
    background-color: #f5a623; /* Átlátszó fehér háttér */
    border-bottom: 2px solid orange; /* Narancssárga csík a navbar alján */
  }

  

  
  /* Esetleg más elemek stilizálása, hogy a navbar jól nézzen ki */
  .navbar .navbar-toggler-icon {
    background-color: orange; /* Toggler ikon színének módosítása */
  }
  
